@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Karla:wght@500;700&display=swap");
:root {
  --main-bg: #f5f7fb;
  --main-text: #293264;
  --input-checked-bg: #d6dbf5;
  --header-font: "Karla";
  --body-font: "Inter";
  --border-radius: 0.5rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-bg);
  color: var(--main-text);
}
.intro-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-page h1 {
  font-family: var(--header-font), sans-serif;
  font-size: 2.5rem;
  line-height: 160%;
}
.btn {
  color: #f5f7fb;
  background-color: #4d5b9e;
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  border: none;
  font-family: var(--body-font), sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  filter: brightness(130%);
}
form {
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
}
.quiz {
  padding: 1rem 0;
  border-bottom: 1px solid #dbdef0;
}
.question {
  font-family: var(--header-font), sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.answers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.answers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
}
label {
  font-family: var(--body-font), sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--main-text);
  background-color: transparent;
  border: 1px solid #4d5b9e;
  border-radius: var(--border-radius);
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
input[type="radio"]:checked + label {
  background-color: var(--input-checked-bg);
  border: 1px solid var(--input-checked-bg);
}
form .btn {
  display: block;
  margin: 2rem auto;
}
@media (min-width: 30rem) {
  .answers {
    flex-direction: row;
  }
}
